<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Регистрация</title>
</head>
<body>
<div>
    <form method="POST" modelAttribute="userForm">
        <h2>Регистрация</h2>
        <div>
            <input type="text" path="username" placeholder="Username"
                        autofocus="true">
        </div>
        <div>
            <input type="password" path="password" placeholder="Password">
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>