<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей в базе</title>
</head>
<body>
    <h1>Автомобили в базе</h1>
        <form th:action="@{/info/vehicles}" method="post">
            <button type="submit">Обновить</button>
            <button th:formaction="@{/vehicle/add}" type="submit">Добавить</button>
        </form>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Бренд</th>
                <th>Гос номер</th>
                <th>Год выпуска</th>
                <th>Стоимость</th>
                <th>Цвет</th>
                <th>Пробег</th>
                <th>На ходу</th>
                <th>Предприятие</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle : ${vehicles}">
                <td th:text="${vehicle.id}"></td>
                <td th:if="${vehicle.brand == null}" th:text="пусто"></td>
                <td th:unless="${vehicle.brand == null}" th:text="${vehicle.brand.name}"></td>
                <td th:text="${vehicle.registrationNumber}"></td>
                <td th:text="${vehicle.yearOfProduction}"></td>
                <td th:text="${vehicle.price}"></td>
                <td th:text="${vehicle.color}"></td>
                <td th:text="${vehicle.mileage}"></td>
                <td th:if="${vehicle.inOrder}" bgcolor="#00FF00" th:text="да"></td>
                <td th:unless="${vehicle.inOrder}" bgcolor="#FF0000" th:text="нет"></td>
                <td th:if="${vehicle.enterprise == null}" th:text="пусто"></td>
                <td th:unless="${vehicle.enterprise == null}" th:text="${vehicle.enterprise.name}"></td>
                <td>
                    <form th:action="@{/vehicle/edit}" method="post">
                        <button th:formaction="@{/vehicle/edit?id={id}(id=${vehicle.id})}" type="submit">Изменить</button>
                        <button th:formaction="@{/vehicle/delete?id={id}(id=${vehicle.id})}" type="submit">Удалить</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    <h1>Доступные бренды</h1>
    <form th:action="@{/info/brands}" method="post">
        <button type="submit">Обновить</button>
        <button th:formaction="@{/brand/add}" type="submit">Добавить</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Тип</th>
            <th>Кол-во мест</th>
            <th>Грузоподъемность</th>
            <th>Объем бака</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="brand : ${brands}">
            <td th:text="${brand.id}"></td>
            <td th:text="${brand.name}"></td>
            <td th:text="${brand.type}"></td>
            <td th:text="${brand.numberOfSeats}"></td>
            <td th:text="${brand.loadCapacity}"></td>
            <td th:text="${brand.tank}"></td>
            <td>
                <form th:action="@{/brand/edit}" method="post">
                    <button th:formaction="@{/brand/edit?id={id}(id=${brand.id})}" type="submit">Изменить</button>
                    <button th:formaction="@{/brand/delete?id={id}(id=${brand.id})}" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>Предприятия</h1>
    <form method="post">
        <button th:formaction="@{/enterprise/add}" type="submit">Добавить</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Город</th>
            <th>Имя директора</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enterprise : ${enterprises}">
            <td th:text="${enterprise.id}"></td>
            <td th:text="${enterprise.name}"></td>
            <td th:text="${enterprise.city}"></td>
            <td th:text="${enterprise.directorName}"></td>
            <td>
                <form th:action="@{/enterprise/edit}" method="post">
                    <button th:formaction="@{/enterprise/edit?id={id}(id=${enterprise.id})}" type="submit">Изменить</button>
                    <button th:formaction="@{/enterprise/delete?id={id}(id=${enterprise.id})}" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <h1>Водители</h1>
    <form method="post">
        <button th:formaction="@{/driver/add}" type="submit">Добавить</button>
    </form>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Зарплата</th>
            <th>Предприятие</th>
            <th>Автомобиль</th>
            <th>Активный водитель:</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="driver : ${drivers}">
            <td th:text="${driver.id}"></td>
            <td th:text="${driver.name}"></td>
            <td th:text="${driver.birthDate}"></td>
            <td th:text="${driver.salary}"></td>
            <td th:text="${driver.enterprise.name}"></td>
            <td th:if="${driver.vehicle == null}">не назначен</td>
            <td th:unless="${driver.vehicle == null}" th:text="${driver.vehicle?.registrationNumber} + '  ' + ${driver.vehicle?.brand?.name} + ' ' + ${driver.vehicle?.enterprise?.name}"></td>
            <td th:if="${driver.isActive}" bgcolor="#00FF00" th:text="да"></td>
            <td th:unless="${driver.isActive}" th:text="нет"></td>
            <td>
                <form th:action="@{/driver/edit}" method="post">
                    <button th:formaction="@{/driver/edit?id={id}(id=${driver.id})}" type="submit">Изменить</button>
                    <button th:formaction="@{/driver/delete?id={id}(id=${driver.id})}" type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>